.login-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 328px;
  height: 472px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 20px 25px 0px #0f172a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .login-card {
    width: 485px;
  }
}

.login-website-logo {
  width: 117px;
  height: 44px;
  font-family: Caveat;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #334155;
  margin-bottom: 20px;
  margin-top: 0;
}

.username-input-container {
  margin-top: 20px;
}

.label {
  width: 70px;
  height: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #334155;
}

.username-input {
  width: 272px;
  height: 38px;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  gap: 24px;
  border: 1px solid #64748b;
  margin-top: 6px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #0f0f0f;
  outline: none;
}

@media screen and (min-width: 768px) {
  .username-input {
    width: 352px;
  }
}

.password-input-container {
  margin-top: 20px;
}

.password-input-and-show-password-button-container {
  width: 272px;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  border: 1px solid #64748b;
  margin-top: 6px;
}

@media screen and (min-width: 768px) {
  .password-input-and-show-password-button-container {
    width: 352px;
  }
}

.password-input {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #0f0f0f;
  outline: none;
  width: 100%;
  padding-left: 0;
  border: none;
  margin-right: 8px;
}

.show-password-button {
  cursor: pointer;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

.login-button {
  width: 272px;
  height: 44px;
  top: 510px;
  left: 44px;
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  gap: 8px;
  background-color: #304766;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .login-button {
    width: 352px;
  }
}

.error-message {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
  letter-spacing: 0.2px;
  color: #ef4444;
  margin-top: 4px;
  margin-bottom: 0;
}
